* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

ul li {
  list-style: none;
  color: #333;
}

label {
  display: block;
  padding: 5px;
}
option {
  color: #333;
}

h1 {
  color: #fff;
}

textarea {
  border-radius: 5px;
}

.black {
  color: #3a3a3a;
}

.main-container {
  display: block;
  background-image: url("../images/site/checkerboard.jpg");
  width: 100vw;
  height: 200vh;
  background-size: 500px;
  padding: 10px 0;
}
.container {
  display: block;
  margin: auto;
  max-width: 1000px;
  background: #ffffff;
  border: 3px solid #4c96d7;
  border-radius: 5px;
}

#main-header {
  max-width: 1400px;
  padding: 10px;
}

#main-header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-header ul li img {
  width: 100px;
}

.main-nav .navbar {
  background: #3a3a3a;
  padding: 10px;
  width: 100%;
}

.main-nav .navbar {
  display: flex;
  height: 60%;
}

.main-nav .navbar li {
  color: #fff;
  padding: 5px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

#showcase {
  color: #3a3a3a;
  padding: 20px;
}

#showcase a {
  display: block;
  padding: 10px;
}

.mg-btm {
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-top: 2px solid #3a3a3a;
  align-items: center;
  margin: auto;
  flex-direction: column;
  color: #3a3a3a;
  font-size: 10px;
}

.footer p {
  text-align: center;
}

.currentpage {
  background: #4c96d7;
  padding: 10px;
}

.car-details {
  display: block;
  padding: 10px;
  color: #4c96d7;
  background: url("../images/delorean.jpg") no-repeat;
  background-size: 700px;
  height: 350px;
}

.car-details .btn {
  text-align: center;
  background: #4c96d7;
  padding: 7px;
  color: #3a3a3a;
  margin-top: 17px;
}

.car-details img {
  padding: 20px;
  width: 500px;
}

.upgrades {
  display: flex;
}

.Deloreanupgrade {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.Deloreanupgrade p {
  font-size: 10px;
}
.Deloreanupgrade h1 {
  grid-column: 1/3;
  font-weight: bolder;
}

.box1 {
  grid-column: 1;
  grid-row: 2;
}
.box2 {
  grid-column: 2;
  grid-row: 2;
}
.box3 {
  grid-column: 1;
  grid-row: 3;
}
.box4 {
  grid-column: 2;
  grid-row: 3;
}

.image-wrapper {
  width: 200px;
  height: 70px;
  border: 1px solid #8d8d88;
  background: #4c96d7;
}

.image-wrapper img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50px;
}

.review {
  padding: 10px;
  line-height: 1.7em;
}

.review ul li {
  list-style: disc;
}

.login-form {
  display: block;
  margin: auto;
  padding: 10px;
  background: #bbcdcf;
  color: #333;
  border-radius: 5px;
}

.login-form input {
  display: block;
  border: none;
  padding: 10px;
  width: 60%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.login-form label {
  color: #333;
  width: 60%;
}

.login-form p {
  color: #333;
}

.login-form p a {
  color: #2b2279;
}

.login-form h1 {
  color: #333;
}

.btn,
.regbtn,
.signbtn {
  display: block;
  color: #12175a;
  background: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 10%;
}

.drop-down {
  display: inline;
  border: none;
  background: #fff;
  color: #333;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-1 {
  grid-column: 1;
}
.grid-1 input,
textarea {
  width: 100%;
}

.grid-2 {
  margin-top: 50px;
  grid-column: 2;
  grid-row: 1;
}

.grid-2 input {
  width: 100%;
}

.cntBtn {
  margin: auto;
}
.pwd {
  font-size: 12px;
}
